#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
#*.tfvars


terraform-profile.auto.tfvars

# Node
node_modules
package-lock.json

# IDE
.idea
*.iml


# OS
.DS_Store
